In [1]:
# importing dependencies
import pandas as pd
from sqlalchemy import create_engine
# need this later when creating sql database
import config

In [2]:
# read in the dataset and put into a dataframe
chicago_crime_file = "data/chicago_crime_stats.csv"
chicago_crime_file

'data/chicago_crime_stats.csv'

In [3]:
chicago_crime_df = pd.read_csv(chicago_crime_file)
# looking at the dataframe
chicago_crime_df

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,12260346,JE102126,1/3/21 13:23,070XX S EGGLESTON AVE,486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,False,True,...,6.0,68,08B,1174496.0,1858251.0,2021,1/16/21 15:49,41.766435,-87.635964,"(41.766435144, -87.635963997)"
1,12263464,JE105797,1/3/21 6:59,080XX S YALE AVE,820,THEFT,$500 AND UNDER,RESIDENCE,False,False,...,17.0,44,6,1176011.0,1851718.0,2021,1/16/21 15:49,41.748474,-87.630607,"(41.748473982, -87.630606588)"
2,12259990,JE101773,1/3/21 0:20,056XX W WASHINGTON BLVD,486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,False,True,...,29.0,25,08B,1138722.0,1900183.0,2021,1/16/21 15:49,41.882224,-87.766076,"(41.88222427, -87.766076162)"
3,12260669,JE102509,1/3/21 20:47,057XX S RACINE AVE,2022,NARCOTICS,POSSESS - COCAINE,STREET,True,False,...,16.0,67,18,1169298.0,1866822.0,2021,1/16/21 15:49,41.790069,-87.654769,"(41.79006908, -87.654768679)"
4,25702,JE102438,1/3/21 20:09,068XX S STONY ISLAND AVE,110,HOMICIDE,FIRST DEGREE MURDER,STREET,False,False,...,5.0,43,01A,1188038.0,1860051.0,2021,1/10/21 15:51,41.771062,-87.586271,"(41.771062488, -87.586270811)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53240,12347539,JE207632,4/15/21 0:00,049XX N MENARD AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,GROCERY FOOD STORE,False,False,...,45.0,11,11,1136506.0,1932167.0,2021,4/27/21 16:48,41.970032,-87.773447,"(41.970031874, -87.773446582)"
53241,12350321,JE211512,3/12/21 10:00,033XX W CARROLL AVE,810,THEFT,OVER $500,RESIDENCE,False,False,...,28.0,27,6,NaN,NaN,2021,4/27/21 16:51,NaN,NaN,NaN
53242,12346696,JE207066,4/20/21 19:00,028XX W LYNDALE ST,820,THEFT,$500 AND UNDER,ALLEY,False,False,...,1.0,22,6,1157013.0,1914958.0,2021,4/27/21 16:51,41.922417,-87.698510,"(41.922416744, -87.698509633)"
53243,12345198,JE205294,4/20/21 23:23,012XX S WABASH AVE,820,THEFT,$500 AND UNDER,SMALL RETAIL STORE,True,False,...,3.0,33,6,1176963.0,1894850.0,2021,4/27/21 16:51,41.866811,-87.625817,"(41.866810739, -87.625817031)"
53244,12344827,JE204873,4/20/21 12:00,081XX S MANISTEE AVE,820,THEFT,$500 AND UNDER,STREET,False,False,...,7.0,46,6,1195918.0,1851506.0,2021,4/27/21 16:51,41.747423,-87.557669,"(41.747422937, -87.557668601)"

# Transform
Here we take our dataframe and drop the columns we do not want included.

In [4]:
# columns we want to keep and include in the new 
chicago_crime_cols = ["ID", "Date", "Primary Type", "Description", "Arrest", "Domestic", "District", "Year", "Latitude",
                     "Longitude"]

# creating a new dataframe of the columns we want to include in our database
chicago_crime_stats_df = chicago_crime_df[chicago_crime_cols].copy()

In [5]:
# looking at our new dataframe
chicago_crime_stats_df = chicago_crime_stats_df.rename(columns=str.lower)

chicago_crime_stats_df.head()

,id,date,primary type,description,arrest,domestic,district,year,latitude,longitude
0,12260346,1/3/21 13:23,BATTERY,DOMESTIC BATTERY SIMPLE,False,True,7,2021,41.766435,-87.635964
1,12263464,1/3/21 6:59,THEFT,$500 AND UNDER,False,False,6,2021,41.748474,-87.630607
2,12259990,1/3/21 0:20,BATTERY,DOMESTIC BATTERY SIMPLE,False,True,15,2021,41.882224,-87.766076
3,12260669,1/3/21 20:47,NARCOTICS,POSSESS - COCAINE,True,False,7,2021,41.790069,-87.654769
4,25702,1/3/21 20:09,HOMICIDE,FIRST DEGREE MURDER,False,False,3,2021,41.771062,-87.586271

# Limit the dataframe to violent crimes only

In [6]:
# take only those Primary Type's that are considered violent crimes

In [7]:
# checking the length of the dataframe
len(chicago_crime_stats_df)

53245

In [8]:
# limit dataframe to homicide, battery, assault, robbery, and sex offense
violent_crimes_df = chicago_crime_stats_df.loc[(chicago_crime_stats_df["primary type"]=="HOMICIDE") | 
                                               (chicago_crime_stats_df["primary type"]=="BATTERY") |
                                               (chicago_crime_stats_df["primary type"]=="ASSAULT") |
                                               (chicago_crime_stats_df["primary type"]=="ROBBERY") |
                                               (chicago_crime_stats_df["primary type"]=="SEX OFFENSE")]

# rename primary type as Primary_Type
violent_crimes_df = violent_crimes_df.rename(columns={"primary type": "primary_type"})

# looking at violent crimes only
violent_crimes_df.head()

,id,date,primary_type,description,arrest,domestic,district,year,latitude,longitude
0,12260346,1/3/21 13:23,BATTERY,DOMESTIC BATTERY SIMPLE,False,True,7,2021,41.766435,-87.635964
2,12259990,1/3/21 0:20,BATTERY,DOMESTIC BATTERY SIMPLE,False,True,15,2021,41.882224,-87.766076
4,25702,1/3/21 20:09,HOMICIDE,FIRST DEGREE MURDER,False,False,3,2021,41.771062,-87.586271
5,12260241,1/3/21 8:54,ASSAULT,SIMPLE,False,False,4,2021,41.702154,-87.563980
10,25703,1/3/21 21:28,HOMICIDE,FIRST DEGREE MURDER,False,False,4,2021,41.736660,-87.544454

In [9]:
# format the date in the first column using datetime
# first need to take the time out of the row
violent_crimes_df["date"] = violent_crimes_df["date"].str.split(" ", 1, expand=True)

# now format the date using datetime
violent_crimes_df["date"] = pd.to_datetime(violent_crimes_df["date"],format="%m/%d/%y")

violent_crimes_df.head()

,id,date,primary_type,description,arrest,domestic,district,year,latitude,longitude
0,12260346,2021-01-03,BATTERY,DOMESTIC BATTERY SIMPLE,False,True,7,2021,41.766435,-87.635964
2,12259990,2021-01-03,BATTERY,DOMESTIC BATTERY SIMPLE,False,True,15,2021,41.882224,-87.766076
4,25702,2021-01-03,HOMICIDE,FIRST DEGREE MURDER,False,False,3,2021,41.771062,-87.586271
5,12260241,2021-01-03,ASSAULT,SIMPLE,False,False,4,2021,41.702154,-87.563980
10,25703,2021-01-03,HOMICIDE,FIRST DEGREE MURDER,False,False,4,2021,41.736660,-87.544454

In [10]:
# set date as the index for SQL database
violent_crimes_df.set_index("id", inplace=True)
violent_crimes_df.head()

,date,primary_type,description,arrest,domestic,district,year,latitude,longitude
id,,,,,,,,,
12260346,2021-01-03,BATTERY,DOMESTIC BATTERY SIMPLE,False,True,7,2021,41.766435,-87.635964
12259990,2021-01-03,BATTERY,DOMESTIC BATTERY SIMPLE,False,True,15,2021,41.882224,-87.766076
25702,2021-01-03,HOMICIDE,FIRST DEGREE MURDER,False,False,3,2021,41.771062,-87.586271
12260241,2021-01-03,ASSAULT,SIMPLE,False,False,4,2021,41.702154,-87.563980
25703,2021-01-03,HOMICIDE,FIRST DEGREE MURDER,False,False,4,2021,41.736660,-87.544454

In [11]:
# checking the length of the new dataframe
len(violent_crimes_df)

17782

In [12]:
violent_crimes_df= violent_crimes_df.head(10000)
len(violent_crimes_df)

10000

In [13]:
#list unique values in the df ['primary_type']
violent_crimes_df.primary_type.unique()

array(['BATTERY', 'HOMICIDE', 'ASSAULT', 'ROBBERY', 'SEX OFFENSE'],
      dtype=object)

In [ ]:
# checking the data types
print(violent_crimes_df.dtypes)

# Load the data into SQL Database

In [15]:
# Create a SQL Database connection
connection_string = f"postgres:{config.password}@localhost:5432/chicago_violent_crimes_db"
engine = create_engine(f'postgresql://{connection_string}')

In [16]:
# checking tables
engine.table_names()

OperationalError: (psycopg2.OperationalError) FATAL:  password authentication failed for user "postgres"
FATAL:  no pg_hba.conf entry for host "73.164.68.11", user "postgres", database "d4bbdqfrrmiu0v", SSL off

(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [ ]:
# load dataframes into database
try:
    violent_crimes_df.to_sql(name="violent_crimes", con=engine, if_exists="append", index=True)
    print("Data loaded successfully")
    
except:
    print("Data has already been loaded to db")